.progress-bar-container {
  width: 76%;
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #e2a3ac;
  transition: width 0.1s linear;
}
